 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#mid_wrapper {
  background-color: #F19D9C;
  font-weight: 500;
  margin: auto;
} 

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
  background-color: #CEECF5;
  background-image: image-url('Workout_pic.jpg');
  background-size: 100%;
  min-height: 100% !important;
  height: 100%;
  color: #FFFFFF;
  H1 { text-align: center};
  P { text-align: center};
  h1 { font-size: 500%;}
  p { font-size: 200%;}
  .button{
    color: #000000;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-inner {
  background-color: #000; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}  